@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom styles, e.g.: */
body {
  @apply bg-backgroundDark text-white font-futuristic;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
